.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

.header-content img {
    width: 100px;
    height: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ProductList-td
{
    width: 80%;
}
.cartItems-td
{
    width: 20%;
}

.product-img {
    width: auto;
    height: 200px;
}

.Product-cart {
    width: 100%;
}

.cart-item-img {
    width: auto;
    height: 200px;
}
.Total-Price
{
    font-size: 20px;
    font-weight: bold;
}

.LoginForm label{
    display: block;
}

.LoginForm button{
    display: block;
}


.SignupForm label{
    display: block;
}

.SignupForm button{
    display: block;
}