.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0px;
}

.header-content img {
    width: 100px;
    height: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}